<h2>Shopping List</h2>
<div class="table-responsive">
    <table class="table table-striped table-sm">
      <thead>
        <tr>
          <th>#</th>
          <th>Product Name</th>
          <th>Shipping Address</th>
          <th>Email</th>
        </tr>
      </thead>
      <tbody>
          <tr>
            <td>1</td>
            <td>Product 1</td>
            <td>Some where street</td>
            <td>abc@email.com</td>
          </tr>
          <tr>
            <td>2</td>
            <td>Product 2</td>
            <td>Some where street</td>
            <td>abc@email.com</td>
          </tr>
          <tr>
            <td>3</td>
            <td>Product 3</td>
            <td>Some where street</td>
            <td>abc@email.com</td>
          </tr>
      </tbody>
    </table>
  </div>